simulation:
    Ts: 1.0
    tSample: 300
    nSample: 12
neuron:
    type:     SRMALPHA
    theta:    10
    tauSr:    10.0
    tauRef:   1.0
    scaleRef: 2     # relative to theta
    tauRho:   1     # relative to theta #0.43429448190325176
    scaleRho: 1
training:
    error:
        type: NumSpikes #ProbSpikes #NumSpikes
        probSlidingWin: 20  # only valid for ProbSpikes
        tgtSpikeRegion: {start: 0, stop: 300}    # only valid for NumSpikes and ProbSpikes
        tgtSpikeCount: {true: 60, false: 10}    # only valid for NumSpikes
    path:
        # out:     OutFiles/
        dir_train:  data/datasets/nmnist/Train/
        dir_test:   data/datasets/nmnist/Test/
        list_train: data/datasets/nmnist/Train/Train60K.txt
        list_test:  data/datasets/nmnist/Test/Test10K.txt
